body {
    margin: 0px;
}

::-webkit-scrollbar {
    display: none;
}

div {
    overflow-wrap: break-word;
}

.messenger {
    height: 100vh;
    margin: 0px;
}

.buttonSignOut {
    cursor: pointer;
    outline: 0;
    user-select: none;
    border: none;
    border-radius: 15px;
    height: 20px;
    margin-top: 10px;
    color:#AAAAAA;
    background-color: #EAEAEA;
}
